@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    padding: 30px;
    text-align: center;
}
h1,
p{
    padding: 10px;
}
div,
    input[type=submit]{
    font-family: 'Salsa';
}
input[type=submit]{
    padding: 6px;
    background-color: white;
    border-radius: 3px;
}
p{
    background-color: white;
    text-align: center;
    margin: auto;
    padding: 8px;
}
input[type=text],
select{
    font-family: 'Salsa';
    text-align: center;
}
